@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 0;
}

section {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color: #011f3a;
  line-height: 56px;
  width: 24rem;
}

h3 {
  font-size: 14px;
  line-height: 24px;
  color: #011f3a;
  font-weight: 400;
  display: block;
  width: 13rem;
}

.btn-primary {
  background: #3d5675;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  width: 11rem;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: translate(1.01px);
  }
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);

  .nav {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    transition: 2s ease all;
    letter-spacing: 1.9px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0.7rem;
    position: relative;

    &:hover {
      border-bottom: 1px solid #000;

      &::before {
        content: url(../images/Vector.jpg);
        position: absolute;
        left: -1rem;
        background: transparent;
      }
    }
  }

  .heaer-logo {
    cursor: default;
    padding: 0 24px;
    background: transparent;
  }

  .wrapper-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-acc {
    padding-right: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      transform: rotateY(180deg);
    }
  }
}

.main {
  height: 100%;
  width: 100%;
  background: #f2ae4d;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 1fr;

  .main-info {
    align-self: center;
    margin-left: 120px;
    & > * {
      padding: 0.5rem 0;
    }
  }

  img {
    align-self: center;
    justify-self: end;
    padding-right: 0.4rem;
  }
}
