@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 0;
}

section {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color: #011f3a;
  line-height: 56px;
  width: 24rem;
}

h3 {
  font-size: 14px;
  line-height: 24px;
  color: #011f3a;
  font-weight: 400;
  display: block;
  width: 13rem;
}

.container {
  width: calc(100vw - 240px);
  margin: auto;
}

.btn-primary {
  background: #3d5675;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  width: 12rem;
  line-height: 18px;
  letter-spacing: 2px;
  color: #eee;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
  overflow-y: hidden;
  border: 0;
}

.btn-white {
  background: #ffffff;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  line-height: 18px;
  letter-spacing: 2px;
  width: 8rem;
  color: #3d5675;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
  overflow-y: hidden;
  border: 0;
}

.btn-grey {
  background: #f2f2f2;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  line-height: 18px;
  letter-spacing: 2px;
  width: 8rem;
  border: 0;
  color: #3d5675;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  height: 60px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  background-color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
          box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
}

.header .nav {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
  letter-spacing: 1.9px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0 0.7rem;
  position: relative;
}

.header .nav:hover {
  border-bottom: 1px solid #000;
}

.header .nav:hover::before {
  content: url(../images/Vector.jpg);
  position: absolute;
  top: 0;
  left: -1rem;
  background: transparent;
}

.header .heaer-logo {
  cursor: default;
  padding: 0 24px;
  background: transparent;
}

.header .wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-acc {
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-acc i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main {
  height: 85%;
  width: 100%;
  background: #f2ae4d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
}

.main .main-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 120px;
}

.main .main-info > * {
  padding: 0.5rem 0;
}

.main img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-right: 0.4rem;
}

.logos {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15vh;
}

.logos .logos-item {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos .logos-item span {
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  width: 20%;
  color: #a1a1a1;
}

.products {
  padding: 1rem 0;
  background-color: #eeeeee;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .products-header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .products-header h1 {
  font-size: 32px;
  line-height: 37px;
}

.products .container-products {
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.products .container-products .products-item {
  background-color: white;
  border: 1px solid #ededed;
}

.products .container-products .products-item img {
  width: 25vh;
  display: block;
  margin: 0 auto;
}

.products .container-products .products-item h3 {
  text-align: left;
  padding-left: 1rem;
}

.products .container-products .products-item span {
  padding-left: 1rem;
  font-size: 18px;
  color: #777777;
  line-height: 21px;
  width: 10rem;
  display: block;
}

.products-footer {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-footer span {
  color: #a1a1a1;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  padding-right: 2rem;
  cursor: default;
}

.boxes {
  background-color: #eeeeee;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes .container {
  background-color: #72bda3;
}

.boxes .title-boxes {
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 41px;
  padding: 2.5rem 0 2rem 0;
}

.boxes .wraper-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes .wraper-boxes .item-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.boxes .wraper-boxes .item-boxes img {
  background-color: transparent;
}

.boxes .wraper-boxes .item-boxes .subtitle-boxes {
  font-size: 18px;
  color: #011f3a;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 23px;
}

.boxes .wraper-boxes .item-boxes .info-boxes {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #3d5675;
  width: 70%;
  margin: 0 auto;
}

.boxes button {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 3rem 0;
}

.advantage {
  background-color: #eeeeee;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage .container .title-advantage {
  font-size: 32px;
  line-height: 41px;
  font-weight: bold;
  padding-bottom: 2rem;
}

.advantage .container .wrapper-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage .container .wrapper-advantage .item-advantage {
  width: 25%;
}

.advantage .container .wrapper-advantage .item-advantage img {
  width: 100%;
}

.advantage .container .wrapper-advantage .subtitle-advantage {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #011f3a;
}

.advantage .container .wrapper-advantage .info-advantage {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a1a1a1;
}

.request {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
}

.request .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 120px);
  background-color: #ffca3a;
}

.request .container::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 50%;
  display: block;
  background-color: #a1a1a1;
  width: 1px;
}

.request .container .request-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4rem;
  position: relative;
}

.request .container .request-item img {
  width: 50%;
  padding-bottom: 2rem;
}

.request .container .request-item .subtitle-request {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.7rem;
  color: #011f3a;
}

.request .container .request-item .info-request {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 0.7rem;
  color: #3d5675;
}

.request .container .request-item button {
  width: 70%;
}

.section-merchants {
  height: 150vh;
  width: 100vw;
  background-color: #eeeeee;
  font-family: 'Lato', sans-serif;
}

.section-merchants .container {
  margin: 0 auto;
  height: 100%;
  background-color: white;
}

.section-merchants .container .rate-merchants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.section-merchants .container .rate-merchants img {
  width: 25%;
}

.section-merchants .container .wrapper-merchants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section-merchants .container .wrapper-merchants:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-merchants .container .wrapper-merchants .wrapper-image-merchants {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.section-merchants .container .wrapper-merchants .wrapper-image-merchants img {
  width: 50%;
}

.section-merchants .container .wrapper-merchants .comment-merchants {
  width: 50%;
  margin: 3rem;
}

.section-merchants .container .wrapper-merchants .comment-merchants .profile-merchants .text-merchants {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #011f3a;
}

.section-merchants .container .wrapper-merchants .comment-merchants .profile-merchants .wrapper-content-profile-merchants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-merchants .container .wrapper-merchants .comment-merchants .profile-merchants .wrapper-content-profile-merchants .wrapper-names-merchants {
  width: 45%;
}

.section-merchants .container .wrapper-merchants .comment-merchants .profile-merchants .wrapper-content-profile-merchants .wrapper-names-merchants h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #011f3a;
  padding-left: 1rem;
}

.section-merchants .container .wrapper-merchants .comment-merchants .profile-merchants .wrapper-content-profile-merchants .wrapper-names-merchants span {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #a1a1a1;
  padding-left: 1rem;
}

.section-get-it {
  height: 50vh;
  width: 100vw;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-get-it .title-get-it {
  text-align: center;
  font-weight: bold;
  font-size: 31px;
  line-height: 36px;
  color: #011f3a;
  padding-bottom: 2rem;
}

.section-get-it .wrapper-btn-get-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-get-it .wrapper-btn-get-it .btn-white {
  width: 12rem;
  margin-left: 1rem;
}

.footer {
  height: 40vh;
  width: 100vw;
  background-color: #f2f3f4;
}

.footer .container {
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr;
      grid-template-columns: 1fr 3fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer .container .logo-footer {
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=style.css.map */