@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 0;
}

section {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color: #011f3a;
  line-height: 56px;
  width: 24rem;
}

h3 {
  font-size: 14px;
  line-height: 24px;
  color: #011f3a;
  font-weight: 400;
  display: block;
  width: 13rem;
}

.container {
  width: calc(100vw - 240px);
  margin: auto;
}

.btn-primary {
  background: #3d5675;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  width: 12rem;
  line-height: 18px;
  letter-spacing: 2px;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  overflow-y: hidden;

  // &:hover {
  //   transform: translate(1.01px);
  // }
}

.btn-white {
  background: #ffffff;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  height: 2rem;
  line-height: 18px;
  letter-spacing: 2px;
  width: 8rem;
  color: #3d5675;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  overflow-y: hidden;

  // &:hover {
  //   transform: translate(1.01px);
  // }
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);

  .nav {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    transition: 2s ease all;
    letter-spacing: 1.9px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0.7rem;
    position: relative;

    &:hover {
      border-bottom: 1px solid #000;

      &::before {
        content: url(../images/Vector.jpg);
        position: absolute;
        top: 0;
        left: -1rem;
        background: transparent;
      }
    }
  }

  .heaer-logo {
    cursor: default;
    padding: 0 24px;
    background: transparent;
  }

  .wrapper-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-acc {
    padding-right: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      transform: rotateY(180deg);
    }
  }
}

.main {
  height: 85%;
  width: 100%;
  background: #f2ae4d;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 1fr;

  .main-info {
    align-self: center;
    margin-left: 120px;
    & > * {
      padding: 0.5rem 0;
    }
  }

  img {
    align-self: center;
    justify-self: center;
    padding-right: 0.4rem;
  }
}

.logos {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 15vh;

  .logos-item {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: normal;
      width: 20%;
      color: #a1a1a1;
    }
  }
}

.products {
  padding: 1rem 0;
  background-color: #eeeeee;
  overflow-y: hidden;
  display: flex;

  .products-header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 32px;
      line-height: 37px;
    }
  }

  .container-products {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .products-item {
      background-color: rgb(255, 255, 255);
      border: 1px solid #ededed;

      img {
        width: 25vh;
        display: block;
        margin: 0 auto;
      }

      h3 {
        text-align: left;
        padding-left: 1rem;
      }

      span {
        padding-left: 1rem;
        font-size: 18px;
        color: #777777;
        line-height: 21px;
        width: 10rem;
        display: block;
      }
    }
  }
}

.products-footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #a1a1a1;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    padding-right: 2rem;
    cursor: default;
  }
}

.boxes {
  background-color: #eeeeee;
  overflow-y: hidden;
  display: flex;

  .container {
    background-color: #72bda3;
  }

  .title-boxes {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 41px;
    padding: 2.5rem 0 2rem 0;
  }

  .wraper-boxes {
    display: flex;
    justify-content: center;
    align-items: center;

    .item-boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 25%;

      img {
        background-color: transparent;
      }

      .subtitle-boxes {
        font-size: 18px;
        color: #011f3a;
        text-align: center;
        letter-spacing: 0.4px;
        line-height: 23px;
      }

      .info-boxes {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #3d5675;
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 3rem 0;
  }
}
